<h1>A heading</h1> for your most important heading
<h2>A sub-heading</h2> for a heading at the next level
<h3>A sub-sub-heading</h3> …and so on, up to <h6>
<p>A paragraph of text</p>
<em>text</em> emphasizes your text
<strong>text</strong> strongly emphasizes your text
<br> goes to another line (you can't put anything inside br and there's no closing tag)
<a href="https://djangogirls.org">link</a> creates a link
<ul><li>first item</li><li>second item</li></ul> makes a list, just like this one!
<div></div> defines a section of the page
Here's an example of a full template, copy and paste it into blog/templates/blog/post_list.html:

blog/templates/blog/post_list.html
<html>
    <head>
        <title>Django Wendy's Site</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Read this amazing article/a></h2>
            <p>this is a my firse ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Just another masterpiece</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
